<div class="feed__container">
    <div class="feed__body" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()">
        <div class="feed__item">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="resetSelectedFile()">
                Add post
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create new post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="feedGroup" (ngSubmit)="onSubmit()">
                                <input type="text" formControlName="title" placeholder="Title" class="__width_100">
                                <span *ngIf="title.invalid && title.touched">Title is required</span>
                                <textarea type="text" formControlName="description" class="__width_100"
                                    placeholder="Description"></textarea>
                                <span *ngIf="description.invalid && description.touched">Description is required</span>
                                <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" >
                            </form>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                            <button type="submit" class="btn btn-primary" [disabled]="!feedGroup.valid"
                                data-bs-dismiss="modal" (click)="onSubmit()">Save post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-feed-card lass="feed__item" *ngFor="let post of created_posts" [post]="post"></app-feed-card>
        <app-feed-card lass="feed__item" *ngFor="let post of posts?.news" [post]="post" routerLink="{{post.url}}">
        </app-feed-card>
        <div class="__item_loading __card" *ngIf="!posts">
            <!-- <div class="__item_loading __card" *ngIf="test"> -->
            <div class="spinner-border" role="status"> </div>
        </div>
    </div>
</div>